html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: #0070F3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2,
ul {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
